﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <button onclick="InvokeUrl(this)" data-url="http://localhost:63915/api/users">Get All Users</button>
    <span style="margin-left:20px"/> 
    <button onclick="InvokeUrl(this)" data-url="http://localhost:63915/api/users/1">Get User 1</button>
    <span style="margin-left:20px" /> 
    <button onclick="InvokeUrl(this)" data-url="http://localhost:63915/api/users/2">Get User 2</button> 
    <span style="margin-left:20px" /> 
    <button onclick="InvokeUrl(this)" data-url="http://localhost:63915/api/users/rui">Get User Rui</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<script>
    function InvokeUrl(obj) {
        $.get($(obj).attr("data-url"), function (data) {
            alert(data);
        });
    }
</script>